@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Vladyslav Suprunenko</h1>
    <img src="img/avatar.jpg" />
    <div>
        <p><a href="https://www.linkedin.com/in/vladyslav-suprunenko-2552431/" target="_blank">LinkedIn</a></p>
        <p><a href="https://www.facebook.com/vladyslav.suprunenko" target="_blank">Facebook</a></p>
    </div>
</div>
