@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Vladyslav Suprunenko</h1>
    <img src="img/avatar.jpg" />
    <ol>
        <li><a href="https://www.linkedin.com/in/vladyslav-suprunenko-2552431/">LinkedIn</a></li>
        <li><a href="https://www.facebook.com/vladyslav.suprunenko">Facebook</a></li>
    </ol>
</div>
